<div class="h-full flex flex-col rounded-md p-2 bg-sky-600/50">
  <div class="relative flex justify-center items-center h-44 p-5">
    <h1 class="font-extrabold text-7xl">MI AGENDA</h1>
    <div class="absolute rounded-md bg-cyan-600 shadow-cyan-300 shadow-md flex items-center gap-2 left-0 top-0 px-2 py-1">
      <div class="container w-fit">
        <img class="w-12 border-2 border-red-950 rounded-full" src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o=" alt="">
      </div>
      <div class="min-w-36">
        <select class="w-full" [(ngModel)]="userId" (change)="getSchedule()">
          @for (user of users; track $index) {

            <option [value]="user.id">
              {{ user.name }} 
            </option>
          }
        </select>        
      </div>
      <div class="container w-fit">
        <button class="bg-cyan-500 rounded-md px-2 p-1">+</button>
      </div>
    </div>
  </div>

  <div class="flex-1 flex justify-center gap-2">

    <div class="w-[600px] h-full bg-sky-500/90 rounded-md">
      <h3 class="bg-cyan-600 text-xl text-center font-semibold rounded-t-md">Eventos</h3>
      <div class="flex justify-between items-center p-2 gap-4">
        <input type="date" class="w-full p-2 rounded-md" placeholder="Buscar evento">
        <input type="time" class="w-full p-2 rounded-md" placeholder="Buscar evento">
        <button class="bg-cyan-600 rounded-md py-3 px-8 font-semibold hover:shadow-md hover:shadow-cyan-300 ">Buscar</button>
      </div>
      <div class="h-full space-y-2 overflow-y-auto p-2">
        @for (event of schdules; track $index) {
          <div class="flex-col rounded-md justify-between items-center p-2 hover:shadow-md hover:bg-cyan-300"
          [ngClass]="{
              'bg-cyan-300': event.id == selectedEventId,
              'bg-white': event.id != selectedEventId
          }"
          (click)="showParticipants(event)">
            <h1>{{event.eventName}}</h1>
            <p class="px-2">{{event.description}}</p>
            <div class="flex justify-between items-center">
              <div>
                <h4>Fecha: {{event.date }}</h4>
                <h4>Lugar: {{event.location}}</h4>
              </div>
              <div class="flex items-end gap-2">
                <button class="bg-cyan-500 rounded-md px-1">Editar</button>
                <button class="bg-red-300 rounded-md px-1">Eliminar</button>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
    
    <div class="w-[600px] h-full bg-sky-500/90 rounded-md">
      <h3 class="bg-cyan-600 font-semibold rounded-t-md text-xl text-center">Participantes</h3>
      <div class="h-full space-y-2 overflow-y-auto p-2">
        @for (person of participants; track $index) {
          <div class="flex-col rounded-md bg-white items-center p-2 hover:shadow-md hover:bg-cyan-300">
            <h1>{{person.name}} {{person.lastName}}</h1>
            <div class="flex items-center justify-between">
              <div class="flex gap-2">
                <h3>ci: {{person.ci}}</h3>
                <h3></h3>
              </div>

              <div class="flex items-end gap-2">
                <button class="bg-red-300 rounded-md px-1">Eliminar</button>
              </div>
            </div>
          </div>
        }
        <div class="flex justify-center rounded-md bg-gray-200 items-center p-2 hover:shadow-md">
          <button class="rounded-sm hover:bg-cyan-600 hover:shadow-cyan-300 hover:shadow-md hover:text-white px-2">+ Agregar</button>
        </div>
      </div>
    </div>
  
  </div>
</div>
